body {
    font-size: 20px;
}

li {
    width: fit-content;
    list-style-type: none;
    cursor: pointer;
    padding: 3px;
}

ul {
    margin: 3px;
}

li::before {
    content: "\21b3";
}

.controllerDiv {
    display: inline-block;
}

.controllerDiv button,
form input[type="button"] {
    cursor: pointer;
    border: 0px;
    border: 1px solid #fff;
    background-color: #555;
    color: #fff;
    padding: 3px;
    margin: 0px 3px;
}

.controllerDiv button:hover,
form input[type="button"]:hover {
    color: #333;
    background-color: #fff;
    border: 1px solid #555;
}

form {
    display: inline-block;
    margin: 0px 2px;
}

form input[type="text"] {
    min-width: 150px;
    margin: 0px 2px;
    font-size: 16px;
}

.dot {
    position: relative;
}

.line {
    height: 20px;
    width: 1px;
    border-right: 2px dashed black;
    bottom: 10px;
    right: 11px;
    position: absolute;
}